AUTHORS
Makefile.in
Makefile
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
*.tar.gz
libtool
ltmain.sh
missing
m4/libtool.m4
m4/ltsugar.m4
m4/ltoptions.m4
m4/lt~obsolete.m4
m4/ltversion.m4
m4/intltool.m4
po/Makefile.in.in
po/Makefile.in
po/Makefile
po/POTFILES
po/stamp-it
po/libvirt-sandbox.pot
po/*.gmo
stamp-h1
build-aux/test-driver
INSTALL
libvirt-sandbox-1.0.pc
libvirt-sandbox.spec
.deps/
.libs/
.tx/
libvirt-sandbox/LibvirtSandbox-1.0.gir
libvirt-sandbox/LibvirtSandbox-1.0.typelib
*.lo
*.la
*.o
*.pyc
*~
libvirt-sandbox/libvirt-sandbox-init-lxc
libvirt-sandbox/libvirt-sandbox-init-common
libvirt-sandbox/libvirt-sandbox-init-qemu
libvirt-sandbox/libvirt-sandbox-enum-types.h
libvirt-sandbox/libvirt-sandbox-enum-types.c
libvirt-sandbox/libvirt-sandbox-protocol.c
libvirt-sandbox/libvirt-sandbox-protocol.h
libvirt-sandbox/tests/*.cfg
libvirt-sandbox/tests/test-config
bin/virt-sandbox
bin/virt-sandbox-service-util
build/
bin/*.1
