Makefile.in
Makefile
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
*.tar.gz
libtool
ltmain.sh
missing
m4/
stamp-h1
INSTALL
libvirt-sandbox-1.0.pc
libvirt-sandbox.spec
.deps/
.libs/
libvirt-sandbox/LibvirtSandbox-1.0.gir
libvirt-sandbox/LibvirtSandbox-1.0.typelib
*.lo
*.la
*.o
*~
